<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/<%= homePath %>">Bookify <span class="badge text-bg-warning hvr-rotate">Hub</span></a>

    <ul class="navbar-nav ms-auto gap-1">
      <li class="nav-item">
        <button onclick="window.location = '/<%= btnPath %>'" type="button" class="btn btn-success btn-sm"><i class="fa-regular fa-user me-1"></i> <%= title %></button>
      </li>
    </ul>

    <button class="navbar-toggler border-0 mx-1 <%= homePath !== 'dashboard' ? 'd-none' : '' %>" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>