<div class="card border-0 bg-body-tertiary rounded-4 shadow-sm">
  <div class="card-body">
    <form action="/book" method="get" class="input-group gap-2">
      <input type="text" class="form-control border-0 rounded-3" placeholder="Search Books" aria-label="Search Books" aria-describedby="button-addon2" autocomplete="off" name="search" required>
      <button class="btn btn-outline-secondary rounded-3 bg-body-tertiary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</div>