<% layout('layout/main') %>

<aside class="col-md-2 bg-body-tertiary d-none d-md-block rounded-3 shadow-sm py-4 px-3">

  <div class="mb-4">
    <h1 class="h5 fw-bold">Admin</h1>
  </div>

  <nav>
    <ul class="list-group list-unstyled gap-2">
      <li class="list-group-item bg-transparent px-3 py-2 border-0 text-secondary fw-medium rounded-2 
      transition-all hover-bg-light hover-text-dark" style="cursor: pointer;">
        <i class="fa-solid fa-book me-1"></i> Books
      </li>
      <li class="list-group-item bg-transparent px-3 py-2 border-0 text-secondary fw-medium rounded-2 
                 transition-all hover-bg-light hover-text-dark" style="cursor: pointer;">
        <i class="fa-solid fa-images me-1"></i> Carousel
      </li>
      <li class="list-group-item bg-transparent px-3 py-2 border-0 text-secondary fw-medium rounded-2 
      transition-all hover-bg-light hover-text-dark">
        <button class="btn btn-danger btn-sm shadow-sm" onclick="window.location = '/dashboard/logout'"><i class="fa-solid fa-power-off" style="margin-right: 5px;"></i> Logout</button>
      </li>
    </ul>
  </nav>

</aside>