<aside class="col-md-3 bg-body-tertiary d-none d-lg-block rounded-3 shadow-sm py-4 px-3">

  <div class="d-flex flex-column flex-shrink-0 text-white" style="height: 100%;">

    <%- include('sidebarContents', { path }) %>

  </div>

</aside>