<% const links = [
{
  title: 'Home',
  icon: 'fa-home',
  dir: '/'
},
{
  title: 'Books',
  icon: 'fa-book',
  dir: '/books'
},
{
  title: 'Carousel',
  icon: 'fa-images',
  dir: '/carousel'
}
] %>

<a href="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
  <i class="fa-solid fa-user-tie me-3 fs-4"></i>
  <span class="fs-4">Admin</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto gap-2">

  <% links.forEach(link => { %>
  <li class="nav-item">
    <a href="/dashboard<%= link.dir %>" class="nav-link py-3 <%= link.dir === path ? 'active shadow-sm' : 'text-white'%> " aria-current="page">
      <i class="fas <%= link.icon %> me-2"></i>
      <%= link.title %>
    </a>
  </li>
  <% }) %>

</ul>

<button onclick="window.location = '/dashboard/logout'" class="btn btn-outline-danger shadow-sm mt-auto"><i class="fa-solid fa-power-off me-2"></i> Logout</button>