<% layout('layout/main') %>

<div class="row gap-2 my-3 mx-1">

  <%- include('../partials/sidebar', { path }) %>

  <div class="col bg-body-tertiary rounded-3 shadow-sm">

    <%- body %>

  </div>

</div>